<table class='table table-striped table-dark table-hover'>
    <thead>
        <tr>
            <th scope="col font-weight-bold">Actions</th>
            <th scope="col font-weight-bold">Asset Description</th>
            <th scope="col font-weight-bold">Category</th>
            <th scope="col font-weight-bold">Fail Col</th>
            <th scope="col font-weight-bold">Test</th>
        </tr>
    <thead>
    <tbody>
        <% @assets.each do |asset| %>
        <tr> 
            <th>
            <form action="/assets/<%= asset.id %>/edit" method="get">
                <button type='submit' class="btn btn-outline-warning">Edit</button>
            </form>
            </th>
            <th><%= asset.description %></th>
            <th><%= asset.category %></th>
            <th>
            <% if asset.id % 2 == 0 %>
                <%= "pass" %>
            <% else %>
                <%= "fail" %>
            <% end %>
            </th>
            <% if asset.id % 2 == 0 %>
                <%= "<th>first condition met</th>" %>
            <% else %>
                <%= "<th></th>" %>
            <% end %>

        </tr>
        <% end %>   
    <tbody>
</table>
