<div class="show-container">
<h2>Asset Details</h2>

<div class='top-details'>
<section class='details-left'>

<h1><%=  @asset.category + ' - '+ @asset.description %></h1>
</section>
<section class='right-details'>
<form action="/assets/<%= @asset.id %>/edit"><button class="btn btn-warning">Edit Asset</button></form>
<form actions="/assets/<% @asset.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<button class="btn btn-danger">Delete</button>
</form>
</section>
</div>

<div class="asset-inputs">
<div class='stats'>
<p>Purchase Cost: <%= @asset.purchase_cost %></p>
<p>Total Expense Value: <%= @asset.maintenance_logs.sum(:expense_value) %></p>
<p>Total Revenue Value: <%= @asset.utilisation_logs.sum(:revenue_value) %></p>
<p>Efficency Ratio: 100%</p>
</div>
<div class="inputs">
    <div>
        <% if  session[:user_id]%>
        <form action="/works" method="post">
                <div class="asset-inputs">
                    <select class="form-control" id="sel1" name="type">
                    <option value="Cost">Cost</option>
                    <option value="Revenue">Revenue</option>
                </select>
                    <select class="form-control" id="sel1" name="type">
                    <option value="1">Repairs</option>
                    <option value="2">Routine Maintenance</option>
                    <option value="3">Emergency Repairs</option>
                    <option value="4">Component Failure</option>
                    <option value="5">Disruption</option>

                </select>
                </div>
        <input type='hidden' name="asset_id" value="<%= @asset.id %>">
        <br>
        <div class="asset-inputs">
        <input class="form-control" type='number' name="value_spent"></input> 
        <button class="btn btn-outline-secondary">Add</button>
        </div>
        </form>
        <% end %>
    </div>
</div>
</div>
<%# get is read, post is create, put is update, delete is destroy %>





<table class='table table-striped table-dark table-hover'>
<thead>
    <tr>
        <th scope="col font-weight-bold">Cost/Revenue</th>
        <th scope="col font-weight-bold">Name</th>
        <th scope="col font-weight-bold">Value</th>
        <th scope="col font-weight-bold">Date/Time Lodged</th>
    </tr>
<thead>
<tbody>
    <% @asset.maintenance_logs.each do |log| %>
    <tr>
            <th scope="col font-weight-bold"><%= "Cost" %></th>
            <th scope="col font-weight-bold"><%= log.maintenance_type.maintenance_name %></th>
            <th scope="col font-weight-bold text-danger"><%= log.expense_value %></th>
            <th scope="col font-weight-bold"><%= log.date_time %></th>
    </tr>
    <% end %>
    
    <% @asset.utilisation_logs.each do |log| %>
    <tr>
            <th scope="col font-weight-bold"><%= "Revenue" %></th>
            <th scope="col font-weight-bold"><%= log.revenue_type.revenue_name %></th>
            <th scope="col font-weight-bold"><%= log.revenue_value %></th>
            <th scope="col font-weight-bold"><%= log.date_time %></th>
    </tr>
    <% end %>

</tbody>
</table>

</div>